.h1{
  font-size: 100px;
  color: cyan:
  font-family: copperplate;
  text-align:center;
}

.title{
    font-size: 150px;
    color: blue;
    text-align: center;
    font-family: copperplate;
}

.p{
  font-size: 75px;
  color: purple;
  text-align: center;
  font-family: Monaco;
}

.h2{
  font-size: 85px;
  color: darkgreen:
  font-family: copperplate;
  text-align:center;
  
}

.h3{
  font-size: 75px;
  color: cyan;
  font-family: copperplate;
  text-align: right;
}

.h4{
  font-size: 75px;
  color: cyan;
  font-family: copperplate;
  text-align: center;

}

.h5{
font-size: 75px;
  color: cyan;
  font-family: copperplate;
  text-align: left;
}
