h1{
  font-size: 80px;
  color: cyan:
  font-family: copperplate;
  text-align:center;
}

title{
    font-size: 115px;
    color: blue;
    text-align: center;
    font-family: copperplate;
}

p{
  font-size: 65px;
  color: purple;
  text-align: center;
  font-family: Monaco;
}

h2{
  font-size: 65px;
  color: darkgreen:
  font-family: Monaco;
  text-align:center;
  
}
